/*   RESET
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote::before, blockquote ::after, q::before, q ::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GRID
-----------------------------------------------------------------------------*/
.line, .lastUnit {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.unit {
  float: left; }

.unitRight {
  float: right; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.size1of6 {
  width: 16%; }

.lastUnit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

.clearfix {
  zoom: 1; }
  .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden; }

/*   STYLE
-----------------------------------------------------------------------------*/
html {
  font: normal 62.5%/1.5em sans-serif;
  -webkit-text-size-adjust: none;
  background-color: #f7f7f7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.top-bar {
  position: absolute;
  width: 100%;
  color: #ffffff; }
  .top-bar .chat {
    font-weight: bold;
    font-size: 1.3em; }
  .top-bar .information {
    padding-top: 10px; }
  .top-bar a {
    color: #ffffff;
    text-decoration: none; }
  .top-bar .logo {
    text-indent: -9999px;
    background: url("../img/logo_large.png");
    background-size: 174px 44px;
    width: 174px;
    height: 44px; }

.main {
  padding-top: 140px;
  background-color: #ffffff; }

.player .controls, .top-bar .logo, .request-queue .controls, .chat .user {
  float: left; }

.top-bar .chat, .player .information, .chat .time, .track .information {
  float: right; }

.player .title {
  text-align: center;
  padding-bottom: 5px;
  font-size: 1.2em; }
.player .controls .pause {
  font-weight: bold; }
.player .controls a {
  font-size: 30px;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
  text-align: center; }
.player .track {
  position: relative;
  height: 2em;
  border: 1px solid; }
.player .loaded, .player .progress {
  position: absolute;
  width: 100%;
  height: 100%; }

.module {
  padding: 1.5em 0; }
  .module .hd, .module .bd {
    font-size: 1.2em;
    padding: 0 34px; }
  .module .hd {
    font: 1.4em/1.6em sans-serif;
    font-weight: bold;
    min-height: 30px;
    line-height: 30px; }

.make-request .track, .request-queue .track {
  padding: 0.5em 0;
  border-bottom: 2px dotted #CCC; }
  .make-request .track .title, .request-queue .track .title {
    line-height: 1.2em;
    font-weight: bold; }

.make-request .hd {
  background: transparent url("../img/icon-request-add-circle.png") no-repeat 2px 0; }
.make-request .track {
  background: transparent url("../img/icon-add.png") no-repeat left center;
  padding-left: 20px; }
  .make-request .track a {
    display: block;
    text-decoration: none;
    color: inherit; }
.make-request input {
  width: 100%; }

.request-queue .hd {
  background: transparent url("../img/icon-request-queue-circle.png") no-repeat 2px 0; }
.request-queue .controls .vote {
  text-decoration: none;
  display: block;
  font-size: 30px; }

.chat .user {
  font-weight: bold;
  line-height: 1.5em; }
.chat .message {
  border-bottom: 2px dotted #CCC; }

@media screen and (min-width: 240px) {
  .top-bar {
    background-color: rgba(255, 0, 0, 0.7); }

  .progress {
    background-color: aqua; }

  .player .play, .player .pause {
    color: aqua; }

  .loaded {
    background-color: rgba(51, 0, 0, 0.7); }

  .vote {
    color: rgba(255, 0, 0, 0.7); } }
@media screen and (min-width: 320px) {
  .top-bar {
    background-color: rgba(85, 255, 0, 0.7); }

  .progress {
    background-color: #aa00ff; }

  .player .play, .player .pause {
    color: #aa00ff; }

  .loaded {
    background-color: rgba(17, 51, 0, 0.7); }

  .vote {
    color: rgba(85, 255, 0, 0.7); } }
@media screen and (min-width: 480px) {
  .top-bar {
    background-color: rgba(0, 255, 128, 0.7); }

  .progress {
    background-color: #ff007f; }

  .player .play, .player .pause {
    color: #ff007f; }

  .loaded {
    background-color: rgba(0, 51, 26, 0.7); }

  .vote {
    color: rgba(0, 255, 128, 0.7); } }
@media screen and (min-width: 640px) {
  .top-bar {
    background-color: rgba(0, 170, 255, 0.7); }

  .progress {
    background-color: #ff5500; }

  .player .play, .player .pause {
    color: #ff5500; }

  .loaded {
    background-color: rgba(0, 34, 51, 0.7); }

  .vote {
    color: rgba(0, 170, 255, 0.7); } }
@media screen and (min-width: 768px) {
  .top-bar {
    background-color: rgba(42, 0, 255, 0.7); }

  .progress {
    background-color: #d5ff00; }

  .player .play, .player .pause {
    color: #d5ff00; }

  .loaded {
    background-color: rgba(8, 0, 51, 0.7); }

  .vote {
    color: rgba(42, 0, 255, 0.7); } }
@media screen and (min-width: 1024px) {
  .top-bar {
    background-color: rgba(255, 0, 255, 0.7); }

  .progress {
    background-color: lime; }

  .player .play, .player .pause {
    color: lime; }

  .loaded {
    background-color: rgba(51, 0, 51, 0.7); }

  .vote {
    color: rgba(255, 0, 255, 0.7); } }
@media screen and (min-width: 1200px) {
  .top-bar {
    background-color: rgba(255, 0, 43, 0.7); }

  .progress {
    background-color: #00ffd4; }

  .player .play, .player .pause {
    color: #00ffd4; }

  .loaded {
    background-color: rgba(51, 0, 9, 0.7); }

  .vote {
    color: rgba(255, 0, 43, 0.7); } }
