/*   RESET
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote::before, blockquote ::after, q::before, q ::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GRID
-----------------------------------------------------------------------------*/
.line, .lastUnit {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.unit {
  float: left; }

.unitRight {
  float: right; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.size1of6 {
  width: 16%; }

.lastUnit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

.clearfix {
  zoom: 1; }
  .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden; }

/*   STYLE
-----------------------------------------------------------------------------*/
.chat-open .chat {
  -webkit-animation: fadeIn 0.6s linear;
  display: block; }
.chat-open .main {
  -webkit-animation: fadeOut 0.6s linear;
  display: none; }

.chat {
  -webkit-animation: fadeOut 0.6s linear;
  -webkit-animation-fill-mode: both;
  display: none; }

.main {
  -webkit-animation: fadeIn 0.6s linear;
  -webkit-animation-fill-mode: both; }

html {
  font: 62.5% sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #eeeeee; }

.artist {
  font-weight: bold; }

header.module {
  color: #fff;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  header.module .text-button {
    float: left;
    margin-left: 10px;
    margin-top: 10px; }
  header.module .hd .logo {
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 0.5em;
    float: left; }
  header.module .hd .username {
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
  header.module .bd .title {
    margin: 0 5.5em; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.username {
  float: right;
  margin-right: 1em;
  line-height: 44px; }

.player .duration {
  float: right;
  line-height: 44px; }
.player .track {
  position: relative;
  height: 30px;
  border: 1px solid #000;
  margin: 0 5.5em;
  top: 5px; }
.player .progress {
  z-index: 2; }
.player .progress, .player .loaded {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; }

.content {
  padding-top: 16em;
  background-color: rgba(255, 255, 255, 0.9); }

.request-queue, .make-request {
  padding: 1em 0; }

.chat-box {
  padding: 1em 0; }
  .chat-box .hd, .chat-box .bd {
    padding: 0 20px; }
  .chat-box textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; }
  .chat-box .messages {
    padding: 1em 0; }
  .chat-box .message {
    border-bottom: 2px dotted #CCC;
    padding: 0.7em 0; }
  .chat-box .timestamp {
    float: right; }
  .chat-box .name {
    font-weight: bold; }

.request-queue .hd {
  background: transparent url("../img/icon-request-queue-circle.png") 7px center no-repeat;
  padding-left: 44px;
  line-height: 44px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 1.5em; }
.request-queue .bd {
  padding: 0 20px; }
.request-queue .request h4 {
  float: left; }
.request-queue .request .title {
  float: left;
  line-height: 4em; }
.request-queue .request .duration {
  float: right; }

.controls {
  float: left;
  width: 3em; }

.vote-up {
  border-color: transparent transparent blue transparent;
  border-style: solid;
  border-width: 1em;
  width: 0;
  height: 0;
  display: block; }

.vote-down {
  border-color: red transparent transparent transparent;
  border-style: solid;
  border-width: 1em;
  width: 0;
  height: 0;
  display: block;
  margin-top: 0.5em; }

.make-request .hd {
  background: transparent url("../img/icon-request-add-circle.png") 7px center no-repeat;
  padding-left: 44px;
  line-height: 44px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 1.5em; }
.make-request .bd {
  padding: 0 20px; }
  .make-request .bd input {
    width: 100%; }

.fullscreen {
  background: transparent url("../img/icon-fullscreen.png") center center no-repeat;
  padding: 12px;
  width: 20px;
  height: 20px;
  display: block;
  float: right; }

.play {
  background: transparent url("../img/icon-play.png") center center no-repeat;
  padding: 12px;
  width: 20px;
  height: 20px;
  display: block;
  float: left; }

.pause {
  background: transparent url("../img/icon-pause.png") center center no-repeat;
  padding: 12px;
  width: 20px;
  height: 20px;
  display: block;
  float: left; }

@media screen and (min-width: 240px) {
  body {
    font-size: 0.7em; }

  header.module {
    background-color: rgba(255, 0, 0, 0.7); }

  .progress {
    background-color: aqua; }

  .loaded {
    background-color: rgba(51, 0, 0, 0.7); } }
@media screen and (min-width: 320px) {
  body {
    font-size: 0.9em; }

  header.module {
    background-color: rgba(255, 213, 0, 0.7); }

  .progress {
    background-color: #002aff; }

  .loaded {
    background-color: rgba(51, 43, 0, 0.7); }

  .content {
    padding-top: 12em; } }
@media screen and (min-width: 480px) {
  body {
    font-size: 1.3em; }

  header.module {
    background-color: rgba(85, 255, 0, 0.7); }

  .progress {
    background-color: #aa00ff; }

  .loaded {
    background-color: rgba(17, 51, 0, 0.7); }

  .content {
    padding-top: 10em; } }
@media screen and (min-width: 640px) {
  header.module {
    background-color: rgba(0, 255, 128, 0.7); }

  .progress {
    background-color: #ff007f; }

  .loaded {
    background-color: rgba(0, 51, 26, 0.7); } }
@media screen and (min-width: 768px) {
  header.module {
    background-color: rgba(0, 170, 255, 0.7); }

  .progress {
    background-color: #ff5500; }

  .loaded {
    background-color: rgba(0, 34, 51, 0.7); } }
@media screen and (min-width: 1024px) {
  header.module {
    background-color: rgba(42, 0, 255, 0.7); }

  .progress {
    background-color: #d5ff00; }

  .show-on-small-devices {
    display: none; }

  .loaded {
    background-color: rgba(8, 0, 51, 0.7); } }
@media screen and (min-width: 1200px) {
  header.module {
    background-color: rgba(255, 0, 255, 0.7); }

  .progress {
    background-color: lime; }

  .loaded {
    background-color: rgba(51, 0, 51, 0.7); } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    display: none; }

  to {
    opacity: 1;
    display: block; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    display: block; }

  to {
    opacity: 0;
    display: none; } }
