@import 'includes/reset';
@import 'includes/grid';
//@import 'includes/helpers';

/*   STYLE
-----------------------------------------------------------------------------*/

.chat-open {
	.chat-page {
		-webkit-animation: fadeIn 0.6s linear;
		display: block;
	}
	 .index {
		-webkit-animation: fadeOut 0.6s linear;
		display: none;
	}
}
.chat-page {
	-webkit-animation: fadeOut 0.6s linear;
	-webkit-animation-fill-mode: both;
	display: none;
}

.index {
	-webkit-animation: fadeIn 0.6s linear;
	-webkit-animation-fill-mode: both;
}


html { font: normal 62.5%/1.5em sans-serif; -webkit-text-size-adjust: none; background-color: #f7f7f7; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.wrapper { width: 90%; margin: 0 auto; }
.top-bar {
	.chat {
		font-weight: bold;
		font-size: 1.3em;
	}
	.information {
		padding-top: 10px;
	}
	position: absolute;
	width: 100%;
	color: #ffffff;
	a {
		color: #ffffff;
		text-decoration: none;
	}
	.logo {
		text-indent: -9999px;
		background: url('../img/logo_large.png');
		background-size: 174px 44px;
		width: 174px;
		height: 44px;
	}
}
.main {
	padding-top: 140px;
	background-color: #ffffff;
}

.player .controls, .top-bar .logo, .request-queue .controls, .chat .user { float: left; }
.top-bar .chat, .player .information, .chat .time, .track .information { float: right; }

.player {
	.title { text-align: center; padding-bottom: 5px; font-size: 1.2em; }
	.controls {
		.pause { font-weight: bold; }
		a {
			font-size: 30px;
			line-height: 1.5em;
			text-decoration: none;
			display: block;
			text-align: center;
		}
	}
	.track { position: relative; height: 2em; border: 1px solid; }
	.loaded, .progress {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


.module {
	padding: 1.5em 0;
	.hd, .bd {
		font-size: 1.2em;
		padding: 0 34px;
	}
	.hd {
		font: 1.4em/1.6em sans-serif;
		font-weight: bold;
		min-height: 30px;
		line-height: 30px;
	}
}

.make-request, .request-queue {
	.track {
		padding: 0.5em 0;
		border-bottom: 2px dotted #CCC;
		.artist {
		}
		.title {
			line-height: 1.2em;
			font-weight: bold;
		}
	}
}
.make-request {
	.hd {
		background: transparent url('../img/icon-request-add-circle.png') no-repeat 2px 0;
	}
	.track {
		a {
			display: block;
			text-decoration: none;
			color: inherit;
		}
		background: transparent url('../img/icon-add.png') no-repeat left center;
		padding-left: 20px;
	}
	input { width: 100%; }
}
.request-queue {
	.hd {
		background: transparent url('../img/icon-request-queue-circle.png') no-repeat 2px 0;
	}
	.controls {
		.vote { text-decoration: none; display: block; font-size: 30px; }
	}
}
.chat {
	.message-input {
		width: 100%;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border-color: #ccc;
	}
	.user {
		font-weight: bold;
		line-height: 1.5em;
	}
	.message {
		border-bottom: 2px dotted #CCC;
	}
}

@media screen {
	@media (min-width: 240px) {
		$bg: transparentize(hsl(0, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 320px) {
		$bg: transparentize(hsl(100, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 480px) {
		$bg: transparentize(hsl(150, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 640px) {
		$bg: transparentize(hsl(200, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 768px) {
		$bg: transparentize(hsl(250, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 1024px) {
		$bg: transparentize(hsl(300, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
	@media (min-width: 1200px) {
		$bg: transparentize(hsl(350, 100%, 50%), 0.3);
		.top-bar { background-color: $bg; }
		.progress { background-color: invert(opacify($bg, 0.3)); }
		.player .play, .player .pause { color: invert(opacify($bg, 0.3)); }
		.loaded { background-color: darken($bg, 40%); }
		.vote { color: $bg; }
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		display: none;
	}

	to {
		opacity: 1;
		display: block;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
		display: block;
	}

	to {
		opacity: 0;
		display: none;
	}
}