body, html { 
    width: 100%;
    height: 100%;
    }
body { background:#ddd; background-size:100% 100%; }

body.light h1 { 
	text-shadow:0px 1px 1px rgba(255,255,255,0.25)
}
body.light #sitelogo:hover { 
    background:rgba(0,0,0,0.1); 
}
body.light a.page-marker { }
body.light a {
	 color: #111;
}
body.light a:hover {
	text-decoration: underline;
}
/* foreground color dependent */
body.light #player { background: rgba(255,255,255,0.15); }

abbr {
    border:none !important;
    cursor: normal !important;
}

h1 { font-size:1.5em; }
h2 { font-size:1.25em; }
h1.title { padding:3px 0 3px 60px; }
h1.title small { font-size:0.5em !important; color:#999; }

.l-margin { margin-left:165px; }
.r-margin { margin-right:165px; }
.padded { padding:20px; }

.left {
	 float: left;
}
.right {
	 float: right;
}

#container { 
}

#main { padding:0 0 20px 0; }

#sidebar {
    float:left;
    width:150px;
}

.c65p { 
    float:left;
    width:65%; 
}
.c45p { 
    float:left;
    width:35%;
}

#left {
    background: rgba(255,255,255,0.95);
}

#right { 
    background: rgba(255,255,255,0.85);
}

#left, #right { 
    padding-top:35px;
}

#top { 
	position:fixed;
	top:0px; left:0px;
	height:35px; width:100%;
	z-index: 99;
}

#sitelogo { 
    display:block; float:left; 
    width:120px; height:35px; 
}
#sitelogo img { padding:10px 0 10px 20px; }

#fullscreen { 
    display:block; float:left;
    height:35px; width:35px;
    background: url('../img/icon-fullscreen.png') center center no-repeat;
}
body.fullscreen #fullscreen {
    background: url('../img/icon-fullscreen-exit.png') center center no-repeat;
}

#station-logo {
	 margin: 50px 15px 10px 15px;
}
#station-logo img {
	border-radius:1px;
	-webkit-box-shadow:0px 4px 10px #111;
}

#populist-player { height:0px; background:transparent !important; }
#player { position:relative; top:0px; }
#now-playing { position:absolute; line-height:35px; left:60px; }
#controls { position:absolute; width:60px; }
#timecode { 
    position:absolute;
    right:0px;
    width:100px; 
    padding:12px 10px; 
    text-align:right; 
    font-size:.9em;
}
.jp-seek-bar { height:35px; }
.jp-play-bar { height:35px; background: rgba(0,0,0,0.3); float:left; }
.jp-volume-bar { 
    background: url('../img/icon-volume-back.png'); 
    position:absolute; left:15px; top:10px; height:15px; width:30px; 
}
.jp-volume-bar-value { height:15px; 
    background: url('../img/icon-volume-fg.png'); }

a.button-play {
	display: block;
	height:35px;
	background: url('../img/icon-play.png') center center no-repeat;
}

#playing { 
    height:35px;
    margin:0 80px 0 60px;
}
#playing p { padding-top:10px; }
#playing p a { 
    color: #fff;
    text-decoration:none; font-size:1.1em; 
}
#player { 
    height:35px;
}
#listeners {
	height: 35px;
}
#listeners a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

#username {
	padding: 5px 10px;
}
#username img {
	height:25px;
	vertical-align: middle;
	margin-left: 5px;
}
#username a {
	text-decoration: none;
}

a.page-marker {
    display:block;
    float:left;
    height:15px;
    width:40px;
    border-top-right-radius:1px;
    border-bottom-right-radius:1px;
    text-align:right;
    padding:0 5px;
}

div#request-queue, div#add-music { min-height:250px;  }

div#request-queue { padding:10px 0; }
  
div#request-queue ul { 
    margin:10px 0 0 0; padding:0;
	border-top: 1px rgba(128,128,128,0.1) solid;
}
div#request-queue ul li {
	padding:10px 0;
	width: 100%; list-style:none; clear:both;
	border-bottom: 1px rgba(128,128,128,0.1) solid;
}
div#request-queue ul li:nth-child(odd) {
	background: rgba(255,255,255,0.5);
}
div.vote { 
    float: left;
    margin:0px 15px; 
}
div.vote a { 
    background: url('../img/icon-vote.png') top left no-repeat; 
    width:30px; height:15px; 
    display:block; 
}
div.vote p { color:#999; font-size:0.8em; text-align:center; margin:5px 0 0 0; }
div.vote a.vote-down {
	margin: 5px 0 0 0;
	background-position-y:-15px;
}
div.vote a:hover { background-position-x:-30px; }

a.voted, p.voted { opacity:0.2; cursor:default !important; }
a.voted:hover { background-position-x:0px !important; }

.track {
	width: auto;
	margin:0; 
}
.track .right {
	color: #999;
	font-size: .9em;
	padding:0px 10px;
	text-align: right;
}
.track .right p {
	padding: 2px 0;
	text-shadow: 0px 1px 1px #fff;
}
.track h2 { height:16px; padding:0; margin: 0 0 5px 0; }
.track h2 a { text-decoration:none; color: #222; font-weight: bold;}
.track p {  }
.track p img { height:16px; opacity:0.8}
.track p img:hover { opacity:1.0 }
.track p span {
	margin:0 5px;
}

/* ADD-MUSIC */

#add-music-input {
	display: block;
	margin:10px 41px 10px 55px;
	padding: 0 5px;
	background: #fff;
	-webkit-box-shadow:inset 0px 2px 2px #eee;
	border: 1px rgba(0,0,0,0.2) solid;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#add-music-input div {
	 padding:7px 0 3px 0;
	 width:100%;
}
#add-music input[type=text] {
	outline: none;
	width: 100%;
	height:20px;
	padding:0;
	font-size: 1.25em;
	border: none;
}
#add-music input[type=submit] {
	border: 1px rgba(0,0,0,0.1) solid;
	background:#eee url('../img/icon-magnify.png') 5px 5px no-repeat;
	outline: none;
	width: 32px;
	height: 32px;
	padding:0;
	margin: 0 10px 0 0;
	font-size: 1.5em;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#add-music ul {
	margin: 0;
	border-top: 1px rgba(0,0,0,0.1) solid;
}
#add-music ul li {
	list-style: none;
	clear: both;
	padding:10px 0;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
#add-music ul li:nth-child(odd) {
	background: rgba(255,255,255,0.5);
}
#add-music ul li a { text-decoration:none; }
#add-music ul li img {
	display: block;
	float: left;
	margin:0 0 0 20px;
	width: 16px;
	height: 16px;
	background: url('../img/icon-add.png') center center no-repeat;
} 
#add-music ul li p {
	float: right;
	text-align: right;
	padding-right: 10px;
	width: 40px;
	font-size:.9em;
	color:#999;
}
#add-music ul li div {
	margin: 0 50px 0 55px;
}

#chat form {
	padding: 10px;
}
#chat form div {
	border:1px rgba(0,0,0,0.2) solid;
	background: #fff;
	padding:10px 3px 0px 10px;
	border-radius:3px;
}
#chat form textarea {
	border: none;
	resize:vertical;
	width: 100%; height:15px;
	outline: none;
	padding:0; margin: 0;
}

#chat ul { margin:0 10px }
#chat ul li { 
	list-style:none; clear:both; 
	width:100%; margin:0 0 10px 0; min-height: 50px;
	
}

#chat ul li img { float:left; margin-right:10px; height:35px; width: 35px; }
#chat ul li div { margin:0 0 0 10px; padding:0 0 0 35px; clear: right;}
#chat ul li div h3 { float:right; font-size:.9em; color:#666 }
#chat ul li div h2 { font-weight:bold; font-size:1em;margin-bottom: 5px; }
#chat ul li div p { text-shadow:0px 1px 1px rgba(255,255,255,0.5); }

img.depiction { 
    height:50px; width:50px;
    border-radius:5px;
    -webkit-box-shadow:
    	inset 0px -2px 5px rgba(0,0,0,0.5), 
    	0px 0px 5px rgba(255,255,255,0.5);
}
/* COLORS */
.bg {
    background:#333;
}
.fg {
	color:#fff;
}
body.turquoise .bg { 
	background: rgba(49,168,178,1.0) !important; }
body.dark-gray .bg { 
	background: rgba(33,33,33,1.0) !important; }
body.orange .bg { 
	background: rgba(243,147,10,1.0) !important; }
body.green .bg { 
	background: rgba(101,194,33,1.0) !important; }
body.green .fg, body.turquoise .fg { 
	color: #fff !important;
	text-shadow:0px 1px 1px rgba(0,0,0,0.5); 
	}
body.turquoise .colored {
	color:rgba(49,168,178,1.0);
}