@import url("jplayer.css");

* { font-family:sans-serif; color:#4d4d4d; font-size:13px; }
html { height:100%; padding:0px; }
body { margin:0px; background: url('../img/bg.gif'); }
p { font-size:11px; }
a { text-decoration:none; }

h1,h2,h3,h4,h5 { 
    font-family:'Myriad Pro',sans-serif; font-weight:normal; 
    margin:5px 0px; 
}
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:14px; }
h4 { font-size:12px; }
h5 { font-size:10px; }

h1 span, h2 span, h3 span, h4 span, h5 span { color:#24a8e4; }

.clear { clear:both }
.padded { padding:10px; }
.rounded { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px }
.gray { color:#aaa; }

div.home { padding:100px 0 50px 0; border-bottom:1px solid #e1e5d7; }
div.home h1 { margin:20px 0px 50px 0px; font-size:28px; }
div.home h2 { font-weight:600; margin:5px 0px;  }
div.home input[type=text] { 
    padding:15px 10px; font-size:18px; border:1px solid #e1e5d7; color:#888; 
    font-weight:lighter; font-family:"Myriad Pro"; width:250px;
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; 
    display:block; margin:10px 0px; 
} 
div.home input[type=submit] { 
    background:#dfe5d1; border:none; color:#767b69; font-weight:800;
    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
    padding:5px; text-shadow:0px 1px 0px #fff; 
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
#header { 
    margin:0; padding:5px 0 0 0; background:#4bad16; }
#navbar { 
    margin-top:5px; padding:0; height:4px; background:#006c00;
    background:rgba(0,112,0,0.3);
}

#sitelogo { margin-top:3px; }
#sitenav { text-align:right; }
#sitenav ul { margin:0px; padding:0px; width:auto; text-align:right; }
#sitenav ul li { list-style:none; display:inline; padding:5px; 10px; }
#sitenav ul li a { white-space:nowrap; }
#sitenav ul li a img { vertical-align:top; }
#sitenav ul li span { color:#efe; }
#sitenav ul li a span { 
    font-size:16px; margin-left:10px; padding-top:5px;
    color:#efe; padding-bottom:3px; border-bottom:1px #006c00 dotted; }

#current-user { padding-top:0px; line:height; }
#current-user ul { float:right; }
#current-user ul li { 
    color:#fff; display:list-item; padding:1px; line-height:16px; 
    text-shadow:0px 1px 1px #006c00;
}
#current-user ul li a { 
    color:#004c00;
    text-shadow:0px 1px 0px #aba;
}
#current-user img { 
    float:right; 
    border:4px rgba(0,96,0,0.2) solid; margin-left:10px;
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}

#content { padding:10px 0; }

#left { }
#right { 
    background:rgba(200,200,200,0.2); 
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
} 
#player { display:none; }

#main-content { 
    margin:5px; background:#fff; border:1px #ddd solid;
}

#main { padding:10px 15px; width:auto; margin-right:300px; }
#side { float:right; padding:10px; width:278px; }

.padded { padding:10px; }


ul.tabs { 
    margin:15px 0px; padding:6px 10px; border-bottom:1px #ccc solid; }
ul.tabs li { 
    border:1px #ccc solid;
    padding:6px 10px; list-style:none; display:inline; margin-right:5px;
    background:#fff;
    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
    border-bottom-left-radius:0px; -moz-border-radius-bottomleft:0px; 
    -webkit-border-radius-bottom-left:0px;
    border-bottom-right-radius:0px; -moz-border-radius-bottomright:0px; 
    -webkit-border-radius-bottom-right:0px;
}
ul.tabs li.active, ul.tabs li:hover { background:#f1f5e7; }
ul.tabs li a { 
    font-size:14px; font-weight:bold; 
    padding:0; }
ul.tabs li.active a, ul.tabs li:hover a { border-bottom:none }

.ui-tabs .ui-tabs-hide {
     display: none;
}

#overview-buttons { margin:0; padding:0; }
#overview-buttons li { 
    display:inline; list-style:none; float:left;
    background:#cbf9ac; margin:11px 15px 10px 0px;
    text-align:center; padding:20px; 
    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;    
    width:110px; height:110px; }
#overview-buttons li:hover { background:#bae89b;}
#overview-buttons li:last-child { margin-right:0px; }

#file-drop { 
    height:200px; background:#333; 
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;    
}

#tracks { margin-bottom:10px; }

#shoutbox { margin-bottom:15px; margin-top:16px; padding:0 }
#shout { background:#4bad16; color:#fff; padding:5px; font-weight:bold; border:none;
         border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
         border:1px #298b04 solid;
         text-shadow:0px 1px 1px #298b04;} 
textarea { border:1px #bbb solid; border-top: 2px #ccc solid; outline:none;
           padding:8px 5px 2px 5px; font-size:14px; width:100%; margin:0px; height:20px; }

img.user-thumbnail { height:40px; width:40px; margin-right:5px;
    padding:1px; background:#f6f6f6; border:1px #ddd solid;  
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }

div.message { margin:5px 0px; padding:10px 0px; border-top:1px dotted #eee; }
div.message>img { float:left; }
div.message div { margin-left:45px; padding:none; }
div.message div h5 { font-size:12px; font-weight:bold; margin:0px; }
div.message div h5 span { font-size:11px; float:right; font-weight:normal; color:#aaa; }
div.message p { font-size:100%; margin:5px 0px 0px 0px; }

.jp-interface { width:100% !important; background:transparent !important; border:none !important; height:30px !important;}
a.jp-play, a.jp-pause { top:2px !important; left:10px !important; }
a.jp-play { background:transparent url('../img/play.png') top left !important; height:27px !important; width:55px !important; }
a.jp-pause { background:transparent url('../img/play.png') 0px -27px !important; height:27px !important; width:55px !important; }
a.jp-volume-min { top:22px !important; left:60px !important; }
a.jp-volume-max { top:22px !important; left:190px !important; }
div.jp-volume-bar { top:12px !important; left:80px !important;
                    width:90px !important; height:5px !important; background:#333 none !important; }  
div.jp-volume-bar-value { background:#ddd none !important; }
div.jp-single-player a.jp-volume-max { right:10px !important; }

div#play { padding:10px; color: #fff; background:#4bad16; cursor:pointer;
           font-weight:bold; float:left; height:10px; line-height:10px;
           border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
         }
div#play:hover { background:#363636; }
div#volume { float:left; height:16px; padding:6px 10px; }
div#album-cover { 
    height:150px; margin:10px 0; background-size:150px 150px; -moz-background-size:150px 150px;
    background-position:top center; background-repeat:no-repeat;
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
}
div#now-playing { display:none; padding:10px; font-size:10px; color:#999; text-shadow:0px 0px 1px #333; }

#listeners { margin:20px 0; }
#listeners h5 { 
    margin:10px 0px;
    padding-left:30px; 
    background:transparent url('../img/listeners.png') 0px 5px no-repeat; }


.advert { 
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; 
    background:#aaa; min-height:200px; margin-bottom:10px; }

/*
.button { padding:10px; margin:5px; background:#333; color:#fff; 
          text-decoration:none; text-shadow:1px 1px 0px #000; }
.button:hover, .button:active, .active { background:#24a8e4; text-shadow:1px 1px 0px #1397d3; }

.centered { text-align:center }


#player { height:45px; }
#album-cover { background-position:15px 15px; background-repeat:no-repeat;}

#catalog {  }

.track { margin:5px 0; font-size:14px; }
.track>div { float:left;}
.track>div>p { border-left:1px #999 dotted; padding:0 10px; }
.track .status { width:15%; padding:5px 0 0 0;}
.track .status p {border:none; }
.track .artist { width:25%; }
.track .song { width:25%; }
.track .album { width:20%; }
.track .genre { width:15%; }

#column-headers { font-size:10px; font-weight:bold; border-top:1px #aaa solid; }
#column-headers div { background:#d0d0d0; padding:0px 0px 0px 0px; }
.up-vote, .down-vote , .votes{ font-size:18px;  font-weight:normal;
                               padding:5px 10px; margin:0px; }
.votes { font-size:10px; width:25px; height:25px; display:block; float:left;
         font-weight:bold; color:#fff; margin:0; text-align:center;
         background:transparent url('../img/bluedot.png') top center no-repeat; }


*/