<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PopulistFM{% block title %}{% end %}</title>
<link href="{{ static_url('css/grid.css') }}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{ static_url('css/ui/ui.css') }}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{ static_url('css/styles.css') }}" media="screen" rel="stylesheet" type="text/css" />
{% block styles %}{% end %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/jplayer/jquery.jplayer.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/scripts.js') }}"></script>
{% block scripts %}{% end %}
</head>
<body>
<div id="window">
  <div id="header">
    <div class="container_12">
      <div class="grid_2" id="sitelogo">
        <a href="/"><img src="{{ static_url('img/logo_small.png') }}" border="0" /></a>
      </div>
      <div class="grid_6">&nbsp;{% block player %}{% end %}</div>
      <div class="grid_4" id="sitenav">
        <ul>
          <!--<li>
            <a href="/stream/"><img src="{{ static_url('img/tower.gif') }}" border="0" /><span>Create a stream</span></a>
          </li>-->
          {% if current_user %}
            <li>        
            </li>
            <li id="current-user">
              <img height="30" src="{{ current_user.thumbnail }}" />
              <ul>
                <li>{{ current_user.display_name }}</li>
                <li><a href="/logout" id="logout">logout</a></li>
              </ul>
            {% else %}
            <li>
              <a href="/login/" id="login">
                <img src="{{ static_url('img/login.gif') }}" border="0" />
                <span>Log in</span>
              </a>
            {% end %}
          </li>
        </ul>
      </div>
    </div>      
    <div class="clear"></div>
    <div id="navbar"></div>
  </div>
  <div class="clear"></div>
</div>
  {% block content %} {% end %}
</div>
</body>
</html>
